*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 4.5rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6.5rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 1.5rem;
  outline: none;
  background-color: #313131;
  color: #dbdbdb;
  border-radius: 50px;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: #1c1b1b;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 5vh 2vh;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 2rem;
}

.output .current-operand {
  color: white;
  font-size: 3rem;
}

.marvel-device {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.marvel-device .screen {
  width: 100%;
  position: relative;
  height: 100%;
  z-index: 3;
  background: black;
  overflow: hidden;
  display: block;
}

.marvel-device .middle-bar {
  width: 3px;
  height: 4px;
  top: 0px;
  left: 90px;
  background: black;
  position: absolute;
}

.marvel-device.iphone-x {
  width: 317.79px;
  height: 685px;
  padding: 22.03px;
  background: #fdfdfd;
  -webkit-box-shadow: inset 0 0 9.32px 0 black;
  box-shadow: inset 0 0 9.32px 0 black;
  border-radius: 55.93px;
  margin-left: 36%;
}
.marvel-device.iphone-x .overflow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 55.93px;
  overflow: hidden;
}
.marvel-device.iphone-x .shadow {
  border-radius: 100%;
  width: 76.27px;
  height: 76.27px;
  position: absolute;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 60%);
}
.marvel-device.iphone-x .shadow--tl {
  top: -16.94px;
  left: -16.94px;
}
.marvel-device.iphone-x .shadow--tr {
  top: -16.94px;
  right: -16.94px;
}
.marvel-device.iphone-x .shadow--bl {
  bottom: -16.94px;
  left: -16.94px;
}
.marvel-device.iphone-x .shadow--br {
  bottom: -16.94px;
  right: -16.94px;
}
.marvel-device.iphone-x:before {
  width: calc(100% - 8.47px);
  height: calc(100% - 8.47px);
  position: absolute;
  top: 4.23px;
  content: "";
  left: 4.23px;
  border-radius: 51.69px;
  background: black;
  z-index: 1;
}
.marvel-device.iphone-x .inner-shadow {
  width: calc(100% - 16.94px);
  height: calc(100% - 16.94px);
  position: absolute;
  top: 8.47px;
  overflow: hidden;
  left: 8.47px;
  border-radius: 47.45px;
  -webkit-box-shadow: inset 0 0 12.71px 0 rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 0 12.71px 0 rgba(255, 255, 255, 0.66);
  z-index: 1;
}
.marvel-device.iphone-x .inner-shadow:before {
  width: 100%;
  height: 116%;
  position: absolute;
  top: -8%;
  content: "";
  left: 0;
  border-radius: 169.49px / 94.91px;
  z-index: 2;
}
.marvel-device.iphone-x .screen {
  border-radius: 33.89px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.marvel-device.iphone-x .top-bar,
.marvel-device.iphone-x .bottom-bar {
  width: 100%;
  position: absolute;
  height: 6.77px;
  background: rgba(0, 0, 0, 0.1);
  left: 0;
}
.marvel-device.iphone-x .top-bar {
  top: 67.79px;
  
}
.marvel-device.iphone-x .bottom-bar {
  bottom: 67.79px;
}
.marvel-device.iphone-x .volume,
.marvel-device.iphone-x .volume:before,
.marvel-device.iphone-x .volume:after,
.marvel-device.iphone-x .sleep {
  width: 2.54px;
  background: #b5b5b5;
  position: absolute;
}
.marvel-device.iphone-x .volume {
  left: -2.54px;
  top: 98.3px;
  height: 27.11px;
}
.marvel-device.iphone-x .volume:before {
  height: 52.54px;
  top: 52.54px;
  content: "";
  left: 0;
}
.marvel-device.iphone-x .volume:after {
  height: 52.54px;
  top: 118.64px;
  content: "";
  left: 0;
}
.marvel-device.iphone-x .sleep {
  height: 81.35px;
  top: 169.49px;
  right: -2.54px;
}
.marvel-device.iphone-x .camera {
  width: 5.08px;
  height: 5.08px;
  top: 7.62px;
  border-radius: 100%;
  position: absolute;
  left: 130.5px;
  background: #0d4d71;
}
.marvel-device.iphone-x .speaker {
  height: 5.08px;
  width: 50.84px;
  left: 50%;
  position: absolute;
  top: 7.62px;
  margin-left: -25.42px;
  background: #171818;
  border-radius: 5.08px;
}
.marvel-device.iphone-x .notch {
  position: absolute;
  width: 177.96px;
  height: 25.42px;
  top: 22.03px;
  left: 91.52px;
  z-index: 4;
  background: black;
  border-bottom-left-radius: 20.33px;
  border-bottom-right-radius: 20.33px;
  border: .001px rgb(23, 23, 23) solid;
}
.marvel-device.iphone-x .notch:before,
.marvel-device.iphone-x .notch:after {
  content: "";
  height: 6.77px;
  position: absolute;
  top: 0;
  width: 6.77px;
  
}
.marvel-device.iphone-x .notch:after {
  background: radial-gradient(circle at bottom left, transparent 0, transparent 70%, black 70%, black 100%);
  left: -6.77px;
}
.marvel-device.iphone-x .notch:before {
  background: radial-gradient(circle at bottom right, transparent 0, transparent 70%, black 70%, black 100%);
  right: -6.77px;
}
.marvel-device.iphone-x.landscape {
  height: 317.79px;
  width: 688.13px;
}
.marvel-device.iphone-x.landscape .top-bar,
.marvel-device.iphone-x.landscape .bottom-bar {
  width: 6.77px;
  height: 100%;
  top: 0;
}
.marvel-device.iphone-x.landscape .top-bar {
  left: 67.79px;
}
.marvel-device.iphone-x.landscape .bottom-bar {
  right: 67.79px;
  bottom: auto;
  left: auto;
}
.marvel-device.iphone-x.landscape .volume,
.marvel-device.iphone-x.landscape .volume:before,
.marvel-device.iphone-x.landscape .volume:after,
.marvel-device.iphone-x.landscape .sleep {
  height: 2.54px;
}
.marvel-device.iphone-x.landscape .inner-shadow:before {
  height: 100%;
  width: 116%;
  left: -8%;
  top: 0;
  border-radius: 94.91px / 169.49px;
  
}
.marvel-device.iphone-x.landscape .volume {
  bottom: -2.54px;
  top: auto;
  left: 98.3px;
  width: 27.11px;
}
.marvel-device.iphone-x.landscape .volume:before {
  width: 52.54px;
  left: 52.54px;
  top: 0;
}
.marvel-device.iphone-x.landscape .volume:after {
  width: 52.54px;
  left: 118.64px;
  top: 0;
}
.marvel-device.iphone-x.landscape .sleep {
  width: 81.35px;
  left: 169.49px;
  top: -2.54px;
  right: auto;
}
.marvel-device.iphone-x.landscape .camera {
  left: 7.62px;
  bottom: 130.5px;
  top: auto;
}
.marvel-device.iphone-x.landscape .speaker {
  width: 5.08px;
  height: 50.84px;
  left: 7.62px;
  top: 50%;
  margin-top: -25.42px;
  margin-left: 0;
}
.marvel-device.iphone-x.landscape .notch {
  height: 177.96px;
  width: 25.42px;
  left: 22.03px;
  bottom: 91.52px;
  top: auto;
  border-top-right-radius: 20.33px;
  border-bottom-right-radius: 20.33px;
  border-bottom-left-radius: 0;
}
.marvel-device.iphone-x.landscape .notch:before,
.marvel-device.iphone-x.landscape .notch:after {
  left: 0;
}
.marvel-device.iphone-x.landscape .notch:after {
  background: radial-gradient(circle at bottom right, transparent 0, transparent 70%, black 70%, black 100%);
  bottom: -6.77px;
  top: auto;
}
.marvel-device.iphone-x.landscape .notch:before {
  background: radial-gradient(circle at top right, transparent 0, transparent 70%, black 70%, black 100%);
  top: -6.77px;
}